* {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

button:focus {
  outline: 0;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html {
  background-color: #282c34;
  color: white;
  font-family: Helvetica, sans-serif;
}

#board {
  display: grid;
  grid-template-rows: 3em 3em 1fr;
  text-align: center;
  justify-items: center;
  align-items: center;
  padding-top: 2em;
}

.scoreBoard {
  display: flex;
  text-align: center;
}

.score {
  padding: 1em;
}

.factory {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 0;
  position: relative;
  top: 50%;
  left: 0;
  padding: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.card {
  display: flex;
  margin: 2em;
  width: 200px;
  height: 250px;
  background-color: #ffffff;
  border-radius: 1em;
  box-shadow: 0px 5px 5px #00000036;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  text-align: center;
  filter: brightness(80%);
  cursor: pointer;
}

.card:hover {
  box-shadow: 0px 7px 5px #00000081;
}

.card-image {
  max-width: 100%;
  height: auto;
  align-self: center;
  justify-self: center;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*! animation */

@keyframes shake {
  0% {
    transform: translate(0em);
  }
  50% {
    transform: translate(-0.5em);
  }
  100% {
    transform: translate(0em);
  }
}

@keyframes red-bg {
  0% {
    background-color: #282c34;
  }
  50% {
    background-color: #7c0000;
  }
  100% {
    background-color: #282c34;
  }
}
